#logo, .searchbar, .searchbutton, .searchbar-wrapper{
    margin-left: auto;
    margin-right: auto;
}
#logo{
    display: block;
    clear: both;
}
#logo{
    margin-bottom: 27px;
}
.searchbar{
    display: inline-block;
    width: 500px;
    height: 3.5em;
    border: none;
}
.searchbutton{
    display: inline-block;
    margin: 29px 4px;
    padding: 0px 16px;
    min-width: 54px;
    height: 36px;
    background-color: rgb(242, 242, 242);
    border-radius: 4px;
    border-color: rgb(242, 242, 242);
    border-width: 1px;
    border-style: solid;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(95, 99, 104);
}
.searchbutton:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #c6c6c6;
    color: #222;
    background-color: #f8f8f8;
}
#searchform{
    text-align: center;
}
.searchbar-wrapper{
    border: 1px solid rgba(223,225,229);
    border-radius: 24px;
    width: 575px;
}
.searchbar-wrapper img{
    display: inline-block;
    height: 24px;
    width: 24px;
    position: relative;
    top: 6px;
    margin-left: 5px;  
}
.searchbar-wrapper:hover{
    box-shadow: 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
    border-top-color:rgba(223,225,229);
    border-left-color:rgba(223,225,229);
    border-right-color:rgba(223,225,229);
}
.centro{
    position: fixed;
    top:156px;
    width: 100%;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
li{
    display: block;
}
li a{
    text-decoration: none;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
li.left{
    float: left;
    padding-left: 15px;
}
li.right{
    float: right;
    padding-right: 15px;
}
li a:visited{
    color: #000;
}
li a:hover{
    text-decoration: underline;
}
.navbar{
    width: 100%;
    height: 40px;
}
.footer{
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    height: 40px;
    background-color: rgb(242, 242, 242);
    border-color: rgb(228, 228, 228);
    border-width: 1px 0px;
    border-style: solid;
}
.footer li a{
    color: rgb(95, 99, 104);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.footer li{
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer li.left{
    padding-left: 27px;
}
.footer li.right{
    padding-right: 27px;
}
body{
    height: 100vh;
    margin: 0;
    padding:0;
}